<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GenerationCount" value="10"/>
    <add key="PasswordLength" value="10"/>
    <add key="DigitsRequired" value="false"/>
    <add key="MinimumDigits" value="0"/>
    <add key="SpecialRequired" value="false"/>
    <add key="LowerAndUpper" value="false"/>

    <add key="LowerArr" value="qwertyuiopasdfghjklzxcvbnm"/>
    <add key="UpperArr" value="QWERTYUIOPASDFGHJKLZXCVBNM"/>
    <add key="DigitArr" value="1234567890"/>
    <add key="SpecialArr" value="?"/>  
  </appSettings>
</configuration>
